{% extends 'base.html.twig' %}

{% block title %}Liste des employés{% endblock %}

{% block body %}

    <main>
        <h1>Liste des employés</h1>
            
        <ul>
        
            {% for employe in employes %}
                <li>
                    <a href="{{ path('show_employe', {'id': employe.id}) }}">{{ employe }}</a>  
                    (<a href="{{ path('show_entreprise', {'id': employe.entreprise.id}) }}">{{ employe.entreprise.raisonSociale }}</a>)
                </li>
            {% endfor %}

        </ul>
    </main>

{% endblock %}
